<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="token" value="HIDDEN:)" />
		<add key="prefix" value="?" />
		<add key="connectionString" value="HIDDEN:)"/>
		<add key="Easharpptr-P" value="HIDDEN:)"/>
		<add key="Easharpptr-U" value="HIDDEN:)"/>
		<add key="serilog:minimum-level" value="Debug" />
		<add key="WOMkey" value="HIDDEN:)" />
		<add key="DiscordName" value="HIDDEN:)" />
	</appSettings>
</configuration>